DOMAIN=
PROJECT=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_PROJECT_NUMBER=
GOOGLE_CLOUD_REGION=asia-northeast1
DEPLOYER_SERVICE_ACCOUNT_NAME=
WORKLOAD_IDENTITY_POOL_ID=
WORKLOAD_IDENTITY_PROVIDER=
GITHUB_ORGANIZATION=
GITHUB_REPOSITORY=
ARTIFACT_REGISTRY_REPOSITORY=
CLOUD_RUN_SERVICE=
RUNNER_SERVICE_ACCOUNT_NAME=
WEB_APP_IMAGE_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
JWT_SECRET=

VITE_GOOGLE_CLIENT_ID=
VITE_API_URL=
